// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.gutter[gutter-name="npm-library-description"] {
  z-index: 999;
  overflow: visible;
}

.npm-library-description {
  .npm-library-description-badge {
    cursor: pointer;
  }

  .npm-library-tooltip {
    position: absolute;
    z-index: 1;
    transform: translate3d(22px, 0, 0);
    overflow: auto;
    text-align: left;
    width: 500px;
    background-color: #fafafa;
    color: #333;
    padding: 0;
    border-radius: 3px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);

    .close {
      position: absolute;
      top: 7px;
      right: 7px;
    }

    article {
      padding: 10px;
    }

    &.bottom {
    }

    &.top {
      bottom: calc(100%);
    }

    h1, h2, h3, h4 {
      font-weight: 300;
      margin-top: 0;
      margin-bottom: 12px;
    }

    p {
      color: #666;
    }

    footer {
      border-top: 1px solid #E8F4FE;
      color: #3C97F7;
      display: flex;

      .info {
        width: ~"calc(100% - 160px)";
        padding: 10px;

        &.incomplete {
          width: ~"calc(100% - 80px)";
        }
      }

      p {
        margin: 0;
        color: #52A9F8;
      }

      strong {
        font-weight: 500;
        color: #63a5de;
      }

      .button {
        width: 80px;
        text-align: center;
        background-color: #6CB5F4;
        color: white;

        &:hover {
          background-color: #63a5de;
        }

        &.dark {
          background-color: #5995c8;

          &:hover {
            background-color: #4f84b2;
          }
        }

        // This centers the icons inside
        display: flex;
        justify-content: center;
        align-items: center;

        .icon {
          &:before {
            margin: 0;
          }
        }
      }
    }
  }
}
